
.header
  .header__user
    .header__user__name
      = current_user.name
    .header__user__logo
      ブログ一覧
    %ul.header__user__function
      %li.header__user__function__sign-in
        = link_to 'Signin', new_user_session_path, class: 'header__user__function__sign-in__character'
      %li.header__user__function__sign-out
        = link_to 'Signout', destroy_user_session_path, method: :delete, class: 'header__user__function__sign-out__character'
      %li.header__user__function__new
        = link_to 'Mypage', articles_path, class: 'header__user__function__sign-in__character'

.blogs
  - if @articles
    - @articles.each do |article|
      .blogs__box
        = link_to article.topic, article_path(article.id), class: 'blogs__box__topic'
        .blogs__box__username
          = article.user.name + "さんの投稿"
= paginate @articles